

.cont-apps {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    padding: 1rem;
    width: 50%;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.icon {
    width: 6rem;
    height: 6rem;
    border: 1px solid var(--light-color);
}